<h1>About ql.io</h1>

<h2>A SQL and JSON inspired Language for Working with HTTP APIs</h2>

<p>SQL is a powerful language used to retrieve, filter, project, and join relational data &#8212; see efforts like
<a href="http://queue.acm.org/detail.cfm?id=1961297">A co-Relational Model of Data for Large Shared
Data Banks</a>, <a href="http://en.wikipedia.org/wiki/Language_Integrated_Query">LINQ</a>, <a
href="http://developer.yahoo.com/yql/">YQL</a>, or <a href="http://www.unqlspec.org/">unQL</a> for
examples. <a href="http://json.org/">JSON</a> is a widely-used, simple and standardized data format to
interchange structured data.</p> 

<p>ql.io re-uses concepts and syntax from SQL and JSON to create an imperative style <a
href="/docs/lang-overview">language</a>. Scripts written in this language can make HTTP requests to
retrieve data, perform joins between API responses, project responses, or even make requests in
a loop. But note that <em>ql.io's scripting language is not SQL &mdash; it is SQL-inspired</em>.</p>

<h2>Orchestration</h2>

<p>Most real-world client apps need to mashup data from multiple APIs in one go. Data mashup is
often complicated as client apps need to worry about order of requests, inter-dependencies, error
handling, and parallelization to reduce overall latency.</p>

<p>ql.io's scripts seem procedural in appearance, but are executed out of order based on dependencies.
Some statements may be scheduled in parallel and some in series based on a dependency analysis done
at script compile time. The compilation is an on-the-fly process.</p>

<h2>Consumer Centric Interfaces</h2>

<p>APIs are designed for reuse, and hence they cater to the common denominator. Getting new fields
added, optimizing responses, or combining multiple requests into one involve drawn out negotiations
between API producing teams and API consuming teams within an
  organization, and may be outright impossible for public APIs outside
  of the client's influence.</p>

<p>ql.io lets API consuming teams move fast by creating consumer-centric interfaces that are
optimized for the client. Such optimized interfaces can reduce both
  bandwidth usage and the number of HTTP requests.</p>

<p>APIs created using ql.io can be consumed via HTTP or embedded in a Node.js process.</p>

<h2>Who is Behind ql.io</h2>

<p>ql.io is being built by eBay's platform engineering group, and is actively managed on <a
href="https://github.com/ql-io/ql.io">github</a>. See <a
href="https://github.com/ql-io/ql.io/blob/master/AUTHORS.md">AUTHORS.md</a> for the list of
contributors. ql.io is released under <a
href="https://github.com/ql-io/ql.io/blob/master/LICENSE.md">Apache License, Version 2.0</a>.
See <a href="http://www.ebayopensource.org">eBay Open Source</a> for other project contributed by
eBay.</p>

