<h1>Build and Develop ql.io</h1>

<p>If you want to build, develop and contribe to ql.io ... all you need to do is clone the ql.io repo, build the engine and start hacking away.

<p> Currently, ql.io requires a Linux or Mac system. If using Mac, to be able to build Node, install Xcode and <a href="https://github.com/mxcl/homebrew">Homebrew</a>. On Ubuntu, install expat, and libexpat-dev.</p>

<p> Steps to follow: </p>

<h2>Step 1: Install Node</h2>
<p> Download and Install Nodejs (version 0.6.x) from <a href="http://nodejs.org"> Node Home Page</a> </p>

<h2>Step 2: Clone or Fork ql.ip from github</h2>
<pre class="brush: sql; toolbar: false;">
git clone https://github.com/ql-io/ql.io.git
</pre>

<h2>Step 3: Build ql</h2>
<pre class="brush: sql; toolbar: false;">
cd ql.io
make install
</pre>

<p> Detailed documentation can be found in the <a href="https://github.com/ql-io/ql.io">ql.io Github README</a>.</p>

<h2>Step 4: Happily Hack Away</h2>

<blockquote>
    Join the project mailing list at <a
    href="http://groups.google.com/group/qlio">http://groups.google.com/group/qlio</a> in case you encounter issues setting up.
</blockquote>
