<div class="breadcrumb"><a href="/docs">/docs</a></div>

<h2>Configuration</h2>

<p>TODO: Using forward proxies</p>


<p>Add a note about config files. How they get picked up.</p>

<h2>Runtime Overriding</h2>

<p>For any parameter that is included into the request to a remote service, ql.io uses the following
approach to determine its value:</p>
<blockquote>
<ol>
<li>Look for the parameter value from query parameters</li>
<li>Then look the value from HTTP headers </li>
<li>Then look for values specified in the statement (<code>where</code> clause for <code>select</code>, and <code>values</code> cluase
in <code>insert into</code> etc.)</li>
<li>Then look for values specified as defaults - these are in CoffeeScript files.</li>
</ol>

</blockquote>

<p>For instance, you can override the default <code>apikey</code> for the <code>bitly.shorten</code> table using one of the
following 3 ways.</p>


<pre class="brush: plain">
insert into bitly.shorten (longUrl, apikey) values ('http://www.subbu.org/archives', 'mykey')

curl -v http://localhost:3000/q?s=insert%20into%20bitly.shorten%20(longUrl)%20
     values%20('http%3A%2F%2Fwww.subbu.org%2Farchives')&amp;apikey=mykey

curl -v http://localhost:3000/q?s=insert%20into%20bitly.shorten%20(longUrl)%20
     values%20('http%3A%2F%2Fwww.subbu.org%2Farchives')
     --header 'apikey: mykey'
</pre>
