<h1>Create an App</h1>
  
<p>If you want to use ql.io as a stand-alone server, create an app.</p>

  <p>TODO</p>
<pre class="brush: bash">mkdir myapp
cd myapp
curl ..../init.sh | bash
bin/start.sh
</pre>
