<h1>Data Formats</h1>

<h2>JSON</h2>
  
<p>ql.io's native data format is JSON.</p>
  
<p>In addition, the language supports declaration of the following types of variables.</p>
  
<ul>
    <li><code>string</code></li>
    <li><code>number</code></li>
    <li><code>array</code></li>
    <li><code>true</code></li>
    <li><code>false</code></li>
    <li><code>null</code></li>
    <li>JSON object</li>
</ul>
  
<p>Below are some examples.</p>

<pre class="brush: sql">
a = true;
b = false;
c = [1,2,3,4];
d = [1, true, 3, false];
e = "hello";
f = {
  "a": "A",
  "b": "B",
  "carr": ["a", "b", "c"]
};
g = {};
return f;
</pre>
  
<h2>XML</h2>
  
<p>When an API returns XML or any derived format such as RSS, Atom and SOAP, ql.io coerces into
JSON before any processing by using <a
href="https://github.com/buglabs/node-xml2json">node-xml2json</a>. During this processing,
namespaces attributes and prefixes are preserved.</p>
  
<h2>HTML</h2>
  
<p>If the HTML is well-formed, it is coerced into JSON.</p>

<p>TODO: Support pending.</p>
  
<h2>CSV</h2>
  
<p>TODO: Support pending.</p>