<div class="breadcrumb"><a href="/docs">/docs</a></div>

<h1>How to deploy an ql.io app</h1>


<h2> In eBay</h2>
<h3>1. Create a new directory for your app and initialize ql.io. </h3>

<pre class="brush: shell">
    mkdir myapp
    cd myapp 
    curl "http://gitweb/?p=ql.io.git;a=blob_plain;f=template/init.sh" | sh 
</pre>

<h3>2. Start the server</h3>

<pre class="brush: shell">
    bin/start.sh
</pre>

<blockquote>
Go to <a href="http://localhost:3000">http://localhost:3000</a> to see ql.io goodness in action.
</blockquote>

