<h1>JSON</h1>
  
<p>ql.io's native data format is JSON. When an API returns XML, ql.io coerces into JSON before any
processing. During this processing, namespaces are preserved, and namespace prefixes are
retained.</p>
  
<p>In addition, the language supports declaration of the following types of variables.</p>
  
<ul>
    <li><code>string</code></li>
    <li><code>number</code></li>
    <li><code>array</code></li>
    <li><code>true</code></li>
    <li><code>false</code></li>
    <li><code>null</code></li>
    <li>JSON object</li>
</ul>
  
<p>Below are some examples.</p>

<pre class="brush: sql">
a = true;
b = false;
c = [1,2,3,4];
d = [1, true, 3, false];
e = "hello";
f = {
  "a": "A",
  "b": "B",
  "carr": ["a", "b", "c"]
};
g = {};
return f;
</pre>