<h1>Documentation</h1>

<h2>Quick Start Guide</h2>
  
<p>See the <a href="/docs/quickstart">Quick Start Guide</a> to setup a new ql.io app, and try out
the key features.</p>

<h2>Installation</h2>

<ol>
    <li><a href="/docs/prerequisites">Prerequisites</a> (done) </li>
    <li><a href="/docs/create-an-app">Create an app</a> (done) </li>
</ol>

<h2>Overview</h2>

<ol>
    <li><a href="/docs/lang-overview">Language Overview</a></li>
    <li><a href="/docs/runtime-overview">Runtime Overview</a></li>
</ol>

<h2>Developing Apps</h2>
<ol>
    <li><a href="/docs/create-table">Creating Tables</a></li>
    <li><a href="/docs/uri-template">Using URI templates in create table Statements</a>  (done)</li>
    <li><a href="/docs/selects">Selecting Data from APIs</a></li>
    <li><a href="/docs/inserts">Inserts</a></li>
    <li><a href="/docs/updates">Updates</a></li>
    <li><a href="/docs/deletes">Deletes</a></li>
    <li><a href="/docs/configure">Configuration</a></li>
    <li><a href="/docs/join">Joins</a></li>
    <li><a href="/docs/routes">Script Routes</a></li>
    <li><a href="/docs/patches">Monkey Patching</a></li>
</ol>

<h2>Executing Scripts</h2>

<ol>
    <li><a href="/docs/engine">Engine API</a></li>
    <li>JSONP and XMLHttpRequest</li>
    <li>WebSocket Interface</li>
</ol>

<h2>Runtime</h2>

<ol>
    <li><a href="/docs/monitor">Runtime Monitoring</a></li>
    <li>How to run health-checks against ql.io</li>
    <li>How to trace HTTP requests and HTTP responses</li>
</ol>
  
<h2>Syntax References</h2>

<ol>
    <li><a href="/docs/reference/ql">QL Script Syntax Reference</a> - read this for railroad
    diagrams of the SQL + JSON based syntax used by ql.io</li>

    <li><a href="/docs/reference/uri-template">URI Template Syntax Reference</a> - read this for
    railroad diagrams of the URI template syntax used by ql.io in <code>create table</code>
    statements.</li>
</ol>
