<h1>Documentation</h1>

<h2>Quick Start Guide</h2>
  
<p>See the <a href="/docs/quickstart">Quick Start Guide</a> to setup a new ql.io app, and try out
the key features.</p>

<h2>How to Guides</h2>

<ol>
    <li>How to create a table for simple GET</li>
    <li>How to use URI templates in create table statements</li>
    <li>How to create a table with a body</li>
    <li>How to deal with XML namespaces</li>
    <li>How to configure</li>
    <li>How to debug</li>
    <li>How to do joins</li>
    <li>How to build routes</li>
    <li>How to supply inputs for routes (Headers should be lower case)</li>
    <li>Monkey patching</li>
    <li>Using forward proxies</li>
</ol>

<h1>References</h1>

<ol>
    <li><a href="/docs/reference/ql">QL Script Syntax Reference</a> - read this for railroad
    diagrams of the SQL + JSON based syntax used by ql.io</li>

    <li><a href="/docs/reference/uritemplate">URI Template Syntax Reference</a> - read this for
    railroad diagrams of the URI template syntax used by ql.io in <code>create table</code>
    statements.</li>

    <li><a href="/docs/reference/engine">Engine API</a></li>
</ol>