<h1>How to Guides</h1>

<h2>Quick Start Guide</h2>
<ol>
<li>Quick start guide</li>
<li>Engine API</li>
<li>Monkey patching</li>

    How to create a table for simple GET
    How to use URI templates in create table statements
    How to create a table with a body
    How to deal with XML namespaces
    How to configure
    How to debug
    How to do joins
    How to build routes
    How to supply inputs for routes
        - Headers should be lower case
    Monkey patching

</ol>

<h1>References</h1>

<ol>
    <li>Script Syntax Reference</li>
    <li>URI Template Syntax Reference</li>
    <li>Engine API</li>
</ol>