<div class="breadcrumb"><a href="/docs">/docs</a></div>

<h1>Runtime Monitoring</h1>

<h2>Logs</h2>
  
<p>See the <code>logs</code> subdirectory. Log files are also served at
<code>http://localhost:3001/logs</code>.</p>

<h2>Health Checks</h2>
  
<p>Send a GET request to <code>http://{host}:{port}:3000/ecv</code>.</p>

<blockquote>
    This part of ql.io is still under development.
</blockquote>