<h1>Prerequisites</h1>

<p>Currently, ql.io requires a Linux or Mac system. If using Mac, to be able to build Node,
install Xcode and <a href="https://github.com/mxcl/homebrew">Homebrew</a>. On Ubuntu, install expat,
and libexpat-dev.</p>

<pre class="brush: bash; toolbar: false;">
# Download node.js
curl http://nodejs.org/dist/v0.8.6/node-v0.8.6.tar.gz -o node.tar.gz

# Install node.js
tar xvfz node.tar.gz
cd node
./configure; make
sudo make install

# Create /usr/local/lib/node_modules and make it writable
sudo md -p /usr/local/lib/node_modules
chmod go+rwx /usr/local/lib/node_modules
</pre>

<blockquote>
    Join the project mailing list at <a
    href="http://groups.google.com/group/qlio">http://groups.google.com/group/qlio</a> in case you
    encounter issues setting up.
</blockquote>


