<h1>Prerequisites</h1>

<p>Currently, ql.io requires a Linux or Mac system. If using Mac, to be able to build Node,
install Xcode and <a href="https://github.com/mxcl/homebrew">Homebrew</a>. On Ubuntu, install expat,
and libexpat-dev.</p>

<h2>Install Nodejs</h2>
  
<p>Install nodejs version 0.6.x.</p>

<p>The usual <code>configure;make;sudo make install</code> would do.</p>

<blockquote>
    Join the project mailing list at <a
    href="http://groups.google.com/group/qlio">http://groups.google.com/group/qlio</a> in case you
    encounter issues setting up.
</blockquote>
