<div class="breadcrumb"><a href="/docs">/docs</a></div>

<h1>Prerequisites</h1>

<p>You will need a Linux or Mac to build ql.io apps. If using Mac, to be able to build Node, install
Xcode and <a href="https://github.com/mxcl/homebrew">Homebrew</a>. On Ubuntu, install expat, and
libexpat-dev.</p>

<h2>Install Nodejs</h2>
  
<p>Install nodejs version 0.4.x.</p>

<blockquote>
    See <a href="https://github.com/ql-io/ql.io/issues/57">Issue 57</a> for pending issues to fix for Nodejs version 0.6.x.
</blockquote>

<p>The usual <code>configure;make;sudo make install</code> would do.</p>

<h2>Install npm</h2>
  
<p>Install <a href="http://npmjs.org">npm</a>.</p>


<blockquote>
    Join the project mailing list at <a
    href="http://groups.google.com/group/qlio">http://groups.google.com/group/qlio</a> in case you
    encounter issues setting up.
</blockquote>
