<h1>Quicker Start</h1>

<div class='clock'><canvas id="c0"></canvas></div>

<p>In this guide, we will build an API to drive google maps and eBay item search like it is 2005!
<em>The outcome of this exercise is going to be a single <code>select</code> statement</em>. Our
task is to search for items using eBay's <a
href="http://developer.ebay.com/devzone/finding/Concepts/FindingAPIGuide.html">Finding API</a>, get
their details using another API, and get then their geo-locations using Google's Map APIs. </p>

<p>We need to make the following API calls for this:</p>

<ul>
    <li>Call the <a
    href="http://developer.ebay.com/devzone/finding/Concepts/FindingAPIGuide.html">Finding API</a>
    with a keyword to get item IDs.</li>

    <li>Call the <a
    href="http://developer.ebay.com/devzone/shopping/docs/callref/GetMultipleItems.html">GetMultipleItems
    API</a> to find the details all items found.</li>

    <li>Call the <a href="http://code.google.com/apis/maps/documentation/geocoding/">Geocoding
    API</a> for each item found to find their geo locations.</li>
</ul>
  
<p>For this guide, we will use the <a href="/console">Web Console</a> on this site and so you don't
need to install anything locally.</p>

<h2>Step 1: Create Tables</h2>

<div class='clock'><canvas id="c1" prop="5"></canvas></div>

<p>We will need the following tables to drive this exercise. Simply copy and paste the following
statements in the <a href="/console" target="_blank">Web Console</a>.</p>

<pre class="brush: sql">
create table finditems
 on select get from 'http://svcs.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsByKeywords&SERVICE-VERSION=1.8.0&GLOBAL-ID={globalid}&SECURITY-APPNAME={apikey}&RESPONSE-DATA-FORMAT={format}&REST-PAYLOAD&keywords={^keywords}&paginationInput.entriesPerPage={limit}&paginationInput.pageNumber={pageNumber}&outputSelector%280%29=SellerInfo&sortOrder={sortOrder}'
   with aliases format = 'RESPONSE-DATA-FORMAT', json = 'JSON', xml = 'XML'
   using defaults format = 'XML', globalid = 'EBAY-US', sortorder ='BestMatch',
   apikey =  "{config.eBay.apikey}", limit = 10, pageNumber = 1
   resultset 'findItemsByKeywordsResponse.searchResult.item';

create table details
  on select get from "htttp://open.api.ebay.com/shopping?callname=GetMultipleItems&ItemID={itemId}&responseencoding={format}&appid={^apikey}&version=713&IncludeSelector=ShippingCosts"
     using defaults format = "JSON", apikey = "{config.eBay.apikey}"
     resultset 'Item';

create table google.geocode
  on select get from "http://maps.googleapis.com/maps/api/geocode/{format}?sensor=true&address={^address}"
    using defaults format = 'json'
    resultset 'results';
</pre>

<p>Each of these statements bind the APIs we want to access into ql.io runtime as "tables".
Subsequently we can use <code>select</code> statements to get the data we need.</p>

<h2>Step 2: Write Selects and Joins</h2>

<div class='clock'><canvas id="c2" prop="5"></canvas></div>

<p>We will build the statement in three steps. The first step is to find items. The second step is
to get their details including free form locations, and final step is to map free form locations
into latitude, longitude values. Let us start by first searching for items.</p>
  
<pre class="brush: sql">
select itemId from finditems where keywords='mini cooper';
</pre>
  
<p>This just selects IDs of items. We will then send these items to
the details using the <code>in</code> clause.</p>

<pre class="brush: sql">
select ItemID, ViewItemURLForNaturalSearch, Location from details where itemId in 
  (select itemId from finditems where keywords='mini cooper');
</pre>
  
<p>The next step is to send each <code>Location</code> field to the Google geocoding API to find
their locations using a join.</p>

<pre class="brush: sql">

select e.ItemID, e.Title, e.ViewItemURLForNaturalSearch, g.geometry.location from details  as e, google.geocode as g where 
  e.itemId in (select itemId from finditems where keywords = 'mini')      
  and g.address = e.Location    
</pre>

<p>Finally, add aliases to selected columns to make the response descriptive.</p>

<span class='try'><a href="/console?s=select%20e.ItemID%20as%20id%2C%20e.Title%20as%20title%2C%20e.ViewItemURLForNaturalSearch%20as%20url%2C%20g.geometry.location%20as%20latlng%0A%20%20from%20details%20%20as%20e%2C%20google.geocode%20as%20g%0A%20%20where%20e.itemId%20in%20(select%20itemId%20from%20finditems%20where%20keywords%20%3D%20'mini')%0A%20%20and%20g.address%20%3D%20e.Location">Try me</a></span>
<pre class="brush: sql">
select e.ItemID as id, e.Title as title, e.ViewItemURLForNaturalSearch as url, g.geometry.location as latlng
  from details  as e, google.geocode as g
  where e.itemId in (select itemId from finditems where keywords = 'mini')
  and g.address = e.Location
</pre>
  
<p>That's it. The response should like the one below.</p>

<pre id="ebay-goog-resp" class="live-demo-result">
</pre>
  
<script>

    function runQuery(url, t) {
        $(t).html('Running ...');
        $.ajax({
            type: 'GET',
            cache: false,
            dataType: 'jsonp',
            url: url,
            success: function (data) {
                try {
                    var formatter = new JSONFormatter();
                    $(t)[0].innerHTML = formatter.jsonToHTML(data);
                    $(t).treeview();
                }
                catch(e) {
                    alert(e);
                }
            },
            error: function (req, status, e) {
                $(t).html(e);
                $(t).animate({
                    opacity: 1.0
                });
            }

        });
        return false;
    }
    $(document).ready(function() {
        var m = 0;
        for(var i = 0; i < 3; i++) {
            var diff = Number($('#c' + i).attr('prop') || 5);
            var c = new CoolClock({
                canvasId: 'c' + i,
                showSecondHand: false,
                displayRadius: 30
            });
            c.render(0, m, 0);
            c.stop();
            m = m + diff;
        }

        runQuery("/q?s=select%20e.ItemID%20as%20id%2C%20e.Title%20as%20title%2C%20e.ViewItemURLForNaturalSearch%20as%20url%2C%20g.geometry.location%20as%20latlng%0A%20%20from%20details%20%20as%20e%2C%20google.geocode%20as%20g%0A%20%20where%20e.itemId%20in%20(select%20itemId%20from%20finditems%20where%20keywords%20%3D%20'mini')%0A%20%20and%20g.address%20%3D%20e.Location",
          '#ebay-goog-resp');
    });
</script>

