

<h2>Prequisites</h2>



<p>Three simple steps to create this experience yourself:</p>

<ol>
    <li>Use <code>create table</code> statements to map the API into a table focusing on the parts
    of the response that you're interested in</li>

    <li>
    </li>

<h3>Step 1. Map the FindProducts API</h3>


<div class='ql-example'>
    <span class='try'><canvas id="c0"></canvas></span>
    <pre class='prettyprint lang-sql linenums:'>
create table ebay.FindProducts
  on select get from "http://open.api.ebay.com/shopping?callname=FindProducts&amp;appid={^apikey}&responseencoding=JSON&version=725&QueryKeywords={^QueryKeywords}&MaxEntries={max}&ProductSort=Popularity&AvailableItemsOnly=true&siteid={siteid}"
    using defaults max = "5", apikey = "{config.ebay.apikey}", sideid = 0
    resultset 'Product';</pre>
</div>

<h3>Step 2. Map the ProductDetails API</h3>
<div class='ql-example'>
    <span class='try'><canvas id="c1"></canvas></span>
    <pre class='prettyprint lang-sql linenums:'>create table ebay.ProductDetails
  on select get from "http://open.api.ebay.com/shopping?callname=FindProducts&appid={^apikey}&responseencoding=JSON&version=725&siteid={siteid}&ProductID.type={^ProductType}&ProductID.Value={^ProductID}"
    using defaults apikey = "{config.ebay.apikey}", sideid = 0
    resultset 'Product';
</pre>

<h3>Step 3. Map the ProductStats API</h3>
<div class='ql-example'>
    <span class='try'><canvas id="c2"></canvas></span>
    <pre class='prettyprint lang-sql linenums:'>create table ebay.ProductStats
  on select get from "http://svcs.ebay.com/services/search/ProductStatisticsService/v1?X-EBAY-SOA-SECURITY-APPNAME={^apikey}&X-EBAY-SOA-SERVICE-NAME=ProductStatisticsService&X-EBAY-SOA-OPERATION-NAME=getProductStatistics&X-EBAY-SOA-RESPONSE-DATA-FORMAT=JSON&productId={^productID}&buyBoxPriceRequest.includeAllConditions=true&inventoryCountRequest.includeAllConditions=true"
    using defaults apikey = "{config.ebay.apikey}", sideid = 0
    resultset 'getProductStatisticsResponse.productStatistics'; </pre>
</div>

<p>All it takes is 15 minutes - try the <a href="/console?s=--%20Search%20with%20keyword%20to%20obtain%20product%20ids%0Acreate%20table%20ebay.FindProducts%0A%20%20on%20select%20get%20from%20%22http%3A%2F%2Fopen.api.ebay.com%2Fshopping%3Fcallname%3DFindProducts%26appid%3D%7B%5Eapikey%7D%26responseencoding%3DJSON%26version%3D725%26QueryKeywords%3D%7B%5EQueryKeywords%7D%26MaxEntries%3D%7Bmax%7D%26ProductSort%3DPopularity%26AvailableItemsOnly%3Dtrue%26siteid%3D%7Bsiteid%7D%22%0A%20%20%20%20%20using%20defaults%20max%20%3D%20%225%22%2C%20apikey%20%3D%20%22%7Bconfig.ebay.apikey%7D%22%2C%20sideid%20%3D%200%0A%20%20resultset%20'Product'%3B%0A%20%20%0A--%20Fetch%20product%20details%20given%20a%20product%20id%0Acreate%20table%20ebay.ProductDetails%0A%20%20on%20select%20get%20from%20%22http%3A%2F%2Fopen.api.ebay.com%2Fshopping%3Fcallname%3DFindProducts%26appid%3D%7B%5Eapikey%7D%26responseencoding%3DJSON%26version%3D725%26siteid%3D%7Bsiteid%7D%26ProductID.type%3D%7B%5EProductType%7D%26ProductID.Value%3D%7B%5EProductID%7D%22%0A%20%20%20%20%20%20using%20defaults%20apikey%20%3D%20%22%7Bconfig.ebay.apikey%7D%22%2C%20sideid%20%3D%200%0Aresultset%20'Product'%3B%0A%0A--%20Get%20stats%20for%20a%20given%20product%20id%0Acreate%20table%20ebay.ProductStats%0A%20%20on%20select%20get%20from%20%22http%3A%2F%2Fsvcs.ebay.com%2Fservices%2Fsearch%2FProductStatisticsService%2Fv1%3FX-EBAY-SOA-SECURITY-APPNAME%3D%7B%5Eapikey%7D%26X-EBAY-SOA-SERVICE-NAME%3DProductStatisticsService%26X-EBAY-SOA-OPERATION-NAME%3DgetProductStatistics%26X-EBAY-SOA-RESPONSE-DATA-FORMAT%3DJSON%26productId%3D%7B%5EproductID%7D%26buyBoxPriceRequest.includeAllConditions%3Dtrue%26inventoryCountRequest.includeAllConditions%3Dtrue%22%0A%20%20%20%20%20%20using%20defaults%20apikey%20%3D%20%22%7Bconfig.ebay.apikey%7D%22%2C%20sideid%20%3D%200%0Aresultset%20'getProductStatisticsResponse.productStatistics'%3B%0A%0A%0Aprodid%20%3D%20select%20ProductID%5B0%5D.Value%20from%20ebay.FindProducts%20where%0A%20%20%20%20QueryKeywords%20%3D%20'iphone'%3B%0Adetails%20%3D%20select%20*%20from%20ebay.ProductDetails%20where%0A%20%20%20%20ProductID%20in%20('%7Bprodid%7D')%20and%20ProductType%20%3D%20'Reference'%3B%0A%20%20%20%20stats%20%3D%20select%20*%20from%20ebay.ProductStats%20where%0A%20%20%20%20productID%20in%20('%7Bprodid%7D')%3B%0Areturn%20select%20d.ProductID%5B0%5D.Value%20as%20id%2C%20d.Title%20as%20title%2C%0A%20%20%20%20d.ReviewCount%20as%20reviewCount%2C%20s.inventoryCountResponse%20as%20inventory%0A%20%20%20%20from%20details%20as%20d%2C%20stats%20as%20s%0A%20%20%20%20where%20d.ProductID%5B0%5D.Value%20%3D%20s.productId%3B">full script</a> now.</p>

    <script>
        var c0 = new CoolClock({
        				canvasId:       'c0',
        				skinId:         'classic',
                        showSecondHand: false,
        				displayRadius:  30
        			});
        var c1 = new CoolClock({
        				canvasId:       'c1',
        				skinId:         'classic',
                        showSecondHand: false,
        				displayRadius:  30
        			});
        var c2 = new CoolClock({
        				canvasId:       'c2',
        				skinId:         'classic',
                        showSecondHand: false,
        				displayRadius:  30
        			});
        var now = new Date();
        c0.render(0, 0, 0);
        c0.stop();
        c1.render(0, 5, 0);
        c1.stop();
        c2.render(0, 10, 0);
        c2.stop();
        </script>
