<h1>WebSocket API</h1>

<p>See <a
href="https://github.com/ql-io/ql.io/blob/master/modules/console/public/scripts/console.js">modules/console/public/scripts/console.js</a>
for now, while we are still working on docs.</p>