<div id='navbar'>
    <a href="/"><img src="/images/ql.io-50.png" height="50pt"></img></a>
    <ul>
        <li>
            <a href='/'>home</a> |
        </li>
        <li>
            <a href='/console'>console</a> |
        </li>
        <li>
            <a href='/docs/examples'>examples</a> |
        </li>
        <li>
            <a href='/docs'>docs</a>
        </li>
    </ul>
</div>
