<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21835406-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<div id='navbar'>
    <a href="/"><img src="/images/ql.io-50.png" height="50pt"></img></a>
    <ul>
        <li>
            <a href='/'>home</a> |
        </li>
        <li>
            <a href='/console'>console</a> |
        </li>
        <li>
            <a href='/examples'>examples</a> |
        </li>
        <li>
            <a href='/docs'>docs</a>
        </li>
    </ul>
</div>
