<div id="logo">
    <img src='/images/ql.io-large.png' alt="ql.io logo"/>
</div>

<a href="http://github.com/ql-io/ql.io"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/edc6dae7a1079163caf7f17c60495bbb6d027c93/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub"></a>

<div class="about">A declarative, data-retrieval and aggregation gateway for quickly consuming HTTP APIs</div>

<div class="main-navbar">
    <a class="main-navbar" href='/docs/about'>About ql.io</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a class="main-navbar" href='/examples'>Examples</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a class="main-navbar" href='/docs'>Docs</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a class="main-navbar" href="http://groups.google.com/group/qlio">Discuss</a>
</div>


<div class='highlight'>To call three HTTP APIs, write this script</div>


<span class="try"><a class="button" href="/console?s=prodid%20%3D%20select%20ProductID%5B0%5D.Value%20from%20eBay.FindProducts%20where%0A%20%20%20%20QueryKeywords%20%3D%20'macbook%20pro'%3B%0Adetails%20%3D%20select%20*%20from%20eBay.ProductDetails%20where%0A%20%20%20%20ProductID%20in%20('%7Bprodid%7D')%20and%20ProductType%20%3D%20'Reference'%3B%0Areviews%20%3D%20select%20*%20from%20eBay.ProductReviews%20where%20%0A%20%20%20%20ProductID%20in%20('%7Bprodid%7D')%20and%20ProductType%20%3D%20'Reference'%3B%0A%0Areturn%20select%20d.ProductID%5B0%5D.Value%20as%20id%2C%20d.Title%20as%20title%2C%0A%20%20%20%20d.ReviewCount%20as%20reviewCount%2C%20r.ReviewDetails.AverageRating%20as%20rating%0A%20%20%20%20from%20details%20as%20d%2C%20reviews%20as%20r%0A%20%20%20%20where%20d.ProductID%5B0%5D.Value%20%3D%20r.ProductID.Value%3B">Try me</a></span>
<pre id='ex-main-0' class="brush: sql toolbar: false;">prodid = select ProductID[0].Value from eBay.FindProducts where
    QueryKeywords = 'macbook pro';
details = select * from eBay.ProductDetails where
    ProductID in ('{prodid}') and ProductType = 'Reference';
reviews = select * from eBay.ProductReviews where
    ProductID in ('{prodid}') and ProductType = 'Reference';

return select d.ProductID[0].Value as id, d.Title as title,
    d.ReviewCount as reviewCount, r.ReviewDetails.AverageRating as rating
    from details as d, reviews as r
    where d.ProductID[0].Value = r.ProductID.Value
    via route '/myapi' using method get;</pre>

<div class='highlight'>and <code>curl</code> away</div>

<pre class="brush: bash toolbar: false;">curl http://&lt;host&gt;:&lt;port&gt;/myapi
</pre>

<div class="main-navbar">
    <a class="main-navbar" href='/console'>Console</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a class="main-navbar" href='/docs/quickstart'>Quick Start</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a class="main-navbar" href='/docs/build-an-app'>Build an App</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a class="main-navbar" href='/docs/reference/ql'>Syntax Reference</a>
</div>

