<!DOCTYPE HTML>
<html>
<head>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <title>ql.io</title>
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <link rel="stylesheet" href="/css/shCore.css"/>
    <link rel="stylesheet" href="/css/shThemeEclipse.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jsonview.css"/>
    <link rel="stylesheet" type="text/css" href="/css/treeview.css"/>
    <script type="text/javascript" src="/scripts/jquery-min.js"></script>
    <script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
    <script src="/scripts/jquery.treeview.js"></script>
    <script src="/scripts/shCore.js"></script>
    <script src="/scripts/shBrushSql.js"></script>
    <script src="/scripts/shBrushJScript.js"></script>
    <script src="/scripts/shBrushBash.js"></script>
    <script src="/scripts/shBrushJson.js"></script>
    <script src="/scripts/shBrushPlain.js"></script>
    <script type="text/javascript" src="/scripts/jsonview.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/site.css"/>

</head>
<body>
<div id="container">

    <%- partial("header") %>

    
    <div id="leftnav">
        <%- partial("leftnav") %>
    </div>
    <div id="content">
        <%- body %>       
    </div>
    
    <div id="footer">

    <%- partial("footer") %>
    </div>

</div>
<script type="text/javascript">
     SyntaxHighlighter.all()
</script>
</body>
</html>
