<!DOCTYPE HTML>
<html>
<head>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <title>ql.io</title>
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/site.css"/>
    <link rel="stylesheet" href="/css/shCore.css"/>
    <link rel="stylesheet" href="/css/shThemeEclipse.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="/scripts/shCore.js"></script>
    <script src="/scripts/shBrushSql.js"></script>
    <script src="/scripts/shBrushJScript.js"></script>
    <script src="/scripts/shBrushBash.js"></script>
    <script src="/scripts/shBrushXml.js"></script>
</head>
<body>
<div id="main">

    <%- body %>

    <div id="footer">

    <%- partial("footer") %>
    </div>

</div>
<script type="text/javascript">
     SyntaxHighlighter.all()
</script>
</body>
</html>
