<!DOCTYPE HTML>
<html>
<head>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <title>ql.io</title>
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/site.css"/>
    <link rel="stylesheet" href="/css/shCore.css"/>
    <link rel="stylesheet" href="/css/shThemeEclipse.css"/>
    <script type="text/javascript" src="/scripts/jquery-min.js"></script>
    <script type="text/javascript" src="/site.js?shCore.js&shBrushSql.js&shBrushSql.js&shBrushBash.js&shBrushXml.js&shBrushJScript.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21835406-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
<div id="main">

    <%- body %>

    <div id="footer">

    <%- partial("footer") %>
    </div>

</div>
<script type="text/javascript">
     SyntaxHighlighter.all()
</script>
</body>
</html>
