body {
    line-height: 1.5em;
    overflow: scroll;
}

#main {
    width: 70%;
    margin-left: 15%;
}

#logo {
    text-align: center;
}

div.main-navbar {
    margin: 1em;
    text-align: center;
    box-shadow: 3px;
    color: #3871C1;
    padding: 6px;
    font-size: large;
    text-transform: uppercase;
}

a.main-navbar {
    font-weight: bold;
    text-decoration: none;
    color: #3871C1;
}

.about {
    margin: 2em 15%;
    width: 70%;
    font-size: large;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

pre, code {
    white-space: normal;
}

div.highlight {
    font-weight: bold;
}

em {
    font-weight: bold;
    font-style: normal;
}

.try {
    z-index: 300;
    float: right;
    padding: 4px;
    position: static;
    text-align: right;
    font-weight: bold;
    font-size: small;
    margin-top: -3em;
}

#footer {
    clear: left;
    width: 100%;
    text-align: center;
    padding: 4px 0;
}

blockquote {
    padding: 1em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}

.live-demo-result {
    height: 200px;
    overflow: scroll;
}

#main h1 {
    font-size: 2em;
}

li {
    line-height: 1.5em;
}

.treeview li {
    line-height: 1em;
}

.rrdiagram ul {
    list-style-type: disc;
}

#container {
    width: 90%;
    margin: 10px auto;
    background-color: #fff;
    color: #333;
}

#leftnav {
    float: left;
    width: 160px;
    margin: 0;
    padding: 1em;
}

#content {
    margin-left: 200px;
    border-left: 1px solid lightgray;
    padding-left: 2em;
}

#leftnav p {
    margin: 0;
}

#container h2 {
    font-size: large;
    font-weight: bold;
}

#container h3 {
    font-size: medium;
    font-weight: bold;
}

.syntaxhighlighter {
    padding-bottom: 1em;
}