body {
    width: 70%;
    margin-left: 15%;
    line-height: 1.5em;
}

#logo {
    text-align: center;
}

div.main-navbar {
    margin-bottom: 1em;
    text-align: center;
    box-shadow: 3px;
    background: none;
    background-color: #3871C1;
    padding: 6px;
    color: white;
    font-size: large;
}

a.main-navbar {
    text-decoration: none;
    color: white;
}

.about {
    font-size: large;
    line-height: 1.5;
    margin: 2em;
    text-align: center
}

pre, code {
    white-space: normal;
}

div.highlight {
    font-weight: bold;
}

em {
    font-weight: bold;
    font-style: normal;
}

.clock {
    float: right;
}

.try {
    z-index: 300;
    float: right;
    padding: 4px;
    position: static;
    text-align: right;
    font-weight: bold;
    font-size: small;
    text-transform: lowercase;
    background-color: #3871C1;
    border-radius: 3px;
}

.try a {
    color: white;
    text-decoration: none;
}

#footer {
    clear: left;
    width: 100%;
    text-align: center;
    padding: 4px 0;
}

blockquote {
    padding: 1em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}

.live-demo-result {
    height: 200px;
    overflow: scroll;
}

#main h1 {
    font-size: 2em;
}

li {
    line-height: 1.5em;
}

.treeview li {
    line-height: 1em;
}

.rrdiagram ul {
    list-style-type: disc;
}
