body {
    width: 70%;
    margin-left: 15%;
}

#logo {
    text-align: center;
}

div.main-navbar {
    margin: 1em 15%;
    width: 70%;
    text-align: center;
    box-shadow: 3px;
    background: none;
    background-color: #3871C1;
    padding: 11px;
    border-radius: 10px;
    color: white;
    font-size: large;
    cursor: pointer;
}

a.main-navbar {
    text-decoration: none;
    color: white;
}

div.center {
    text-align: center;
    font-size: small;
    width: 100%;
}

em {
    font-weight: bold;
    font-style: normal;
}

.try {
    z-index: 300;
    float: right;
    padding: 3px;
    position: static;
    text-align: right;
    font-size: small;
    color: #808080;
    text-transform: uppercase;
}

.try a {

}

#footer {
    clear: left;
    width: 100%;
    text-align: center;
    padding: 4px 0;
}

blockquote {
    padding: 1em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}

.live-demo-result {
    height: 200px;
    overflow: scroll;
}

