<h1>Examples</h1>

<blockquote>
    <code>git clone git@github.com:ql-io/ql.io-site.git</code> to see the scripts behind all the
    examples on this site.
</blockquote>

<h2>List Tables</h2>
  
<p>This statement lists all statically declared tables.</p>

<pre class="brush: sql toolbar: false;">
    show tables
</pre>

<h2>Describe a Table</h2>

<p>Describe a table. Comments before <code>create table</code> statements are used to generate
HTML. Such comments can be <a href="http://daringfireball.net/projects/markdown/">Markdown</a>
formatted.</p>

<pre class="brush: sql toolbar: false;">
    describe eBay.ProductReviews
</pre>

<h2>Select with Where</h2>
  
<p>The conditions supplied in the <code>where</code> clause become inputs to HTTP request URIs,
headers, or body.</p>

<pre class="brush: sql toolbar: false;">
    select * from google.geocode where address = "bora bora"
</pre>

<h2>Columns Clause for Projections</h2>

<p>Columns clause is used to project the response to just the desired fields. </p>

<pre class="brush: sql toolbar: false;">
select ProductID[0].Value, DetailsURL, StockPhotoURL
  from eBay.FindProducts where QueryKeywords="mini cooper"
</pre>    
  
<p>The result of a <code>select</code> with columns clause is an array of array of fields
selected. Column names can use <a href="github.com/s3u/JSONPath">JSONPath</a> format.</p>
  
<h2>Columns Aliases</h2>
  
<p>Column aliases change the format of the row in the results to be an object.</p>

<pre class="brush: sql toolbar: false;">
select ProductID[0].Value as id, DetailsURL as details, StockPhotoURL as photo
  from eBay.FindProducts where QueryKeywords="mini cooper"
</pre>

<h2>Limit and Offset</h2>

<p>You can paginate results by using limit and offset clauses.</p>
  
<pre class="brush: sql toolbar: false;">
select id as id, from_user_name as user, text as text
  from twitter.search where q = "ql.io" limit 5
</pre>

<h2>Dependencies</h2>

<p>The second statement depends on the first statement via the <a href="/docs/variable-ref">variable
reference</a> <code>{minis.itemId}</code>.</p>
  
<pre class='brush: sql toolbar: false;'>
minis = select * from finditems where keywords = 'mini cooper' limit 10;
return select PictureURL from details where itemId = "{minis.itemId}";
</pre>
  
<p>These statements will be executed in sequence due to the dependency of the second statement on
the outcome of the first.</p>

<h2>Nested Selection and Joins</h2>

<p>See <a href='/docs/quickstart'>Quick Start Guide</a> to construct this in steps.</p>

<pre class="brush: sql toolbar: false;">
select e.ItemID as id, e.Title as title, e.ViewItemURLForNaturalSearch as url, g.geometry.location as latlng
  from details  as e, google.geocode as g
  where e.itemId in (select itemId from finditems where keywords = "iPad")
        and g.address = e.Location
</pre>
<h2>JSON</h2>
  
<p>The right hand side of a variable assignment can also be an object.</p>

<pre class='brush: sql toolbar: false;'>
foo = {
  "fname" : "Hello",
  "lname" : "World",
  "place" : "Sammamish, WA"};
data = select fname, lname, place from foo;
return {
  "data" :  "{data}"
};
</pre>
  
<p>In this example, the value <code>foo</code> is a JSON object. Here is another example that uses
a JSONPath based selector.</p>
  
<pre class='brush: sql toolbar: false;'>
    people = [
      {"fname" : "John", "lname" : "Doe"},
      {"fname" : "Jane", "lname" : "Doe"},
      {"fname" : "Joe", "lname" : "Developer"}];
    return "{people.$..fname}"
</pre>

<p>The selector in the <code>return</code> statement looks for all <code>fname</code> fields.</p>
  
<h2>Insert</h2>

<p>This examples uses <code>insert into</code> to shorten a URL via bitly APIs.</p>

<pre class='brush: sql toolbar: false;'>
insert into bitly.shorten (longUrl) values ('http://ql.io/docs')
</pre>

<p>A <code>select</code> statement can be used to get the long form.</p>

<pre class='brush: sql toolbar: false;'>
    select long_url from bitly.shorten where shortUrl = 'http://bit.ly/uZIvmY'
</pre>

